{$DASHBOARD_DOMAIN} {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
  }

  reverse_proxy dashboard-ui:3000
}
